<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASK-Me</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link href="https://fonts.googleapis.com/css2?family=Mada:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./assets/css/app.css">

</head>

<body>

    <!-- header section starts  -->

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">

            <a href="#" class="btn">سقسيني</a>
        </div>

        <div class="swiper-container image-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="https://firebasestorage.googleapis.com/v0/b/dta-chlef.appspot.com/o/ask%2Fim1.png?alt=media&token=e504b44d-8ad3-440d-96a6-8903e94e3ab8" alt="ask me"></div>
                <div class="swiper-slide"><img src="https://firebasestorage.googleapis.com/v0/b/dta-chlef.appspot.com/o/ask%2Fim2.png?alt=media&token=aaf522fe-0a52-4816-a4cb-3d2a3f8d8df9" alt=""></div>
                <div class="swiper-slide"><img src="https://firebasestorage.googleapis.com/v0/b/dta-chlef.appspot.com/o/ask%2Fim3.png?alt=media&token=61d09583-519c-4796-92af-a29cbebeff3c" alt=""></div>
                <div class="swiper-slide"><img src="https://firebasestorage.googleapis.com/v0/b/dta-chlef.appspot.com/o/ask%2Fim4.png?alt=media&token=2d29c231-0955-498d-958a-e68721fc138e" alt=""></div>
                <div class="swiper-slide"><img src="https://firebasestorage.googleapis.com/v0/b/dta-chlef.appspot.com/o/ask%2Fim5.png?alt=media&token=fa7b26b9-e563-4a3d-b144-24da00749c83" alt=""></div>
                <div class="swiper-slide"><img src="https://firebasestorage.googleapis.com/v0/b/dta-chlef.appspot.com/o/ask%2Fim6.png?alt=media&token=3c792a17-bfb7-4909-ad4b-c23018510e67" alt=""></div>
                <div class="swiper-slide"><img src="https://firebasestorage.googleapis.com/v0/b/dta-chlef.appspot.com/o/ask%2Fim7.png?alt=media&token=993a03ab-bea8-432a-9bb0-4ad8361343a5" alt=""></div>

            </div>
        </div>

    </section>

    <!-- home section ends -->

    <!-- features section starts  -->

    <section class="features" id="features">

        <h1 class="heading">مميزات التطبيق</h1>

        <div class="box-container">

            <div class="box">
                <i class="fas fa-magic"></i>
                <h3>تصميم سلس</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque enim ad neque. Voluptatem alias beatae accusamus laudantium nisi assumenda libero.</p>
            </div>
            <div class="box">
                <i class="fas fa-shield-alt"></i>
                <h3>حماية الخصوصية</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque enim ad neque. Voluptatem alias beatae accusamus laudantium nisi assumenda libero.</p>
            </div>
            <div class="box">
                <i class="fas fa-globe"></i>
                <h3>متعدد اللغات</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque enim ad neque. Voluptatem alias beatae accusamus laudantium nisi assumenda libero.</p>
            </div>
            <div class="box">
                <i class="fas fa-map-marker-alt"></i>
                <h3>توجيه </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque enim ad neque. Voluptatem alias beatae accusamus laudantium nisi assumenda libero.</p>
            </div>
            <div class="box">
                <i class="fas fa-cogs"></i>
                <h3>إعدادات قوية</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque enim ad neque. Voluptatem alias beatae accusamus laudantium nisi assumenda libero.</p>
            </div>
            <div class="box">
                <i class="fas fa-headset"></i>
                <h3>24 x 7 الخدمات</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque enim ad neque. Voluptatem alias beatae accusamus laudantium nisi assumenda libero.</p>
            </div>

        </div>

    </section>

    <!-- features section ends -->

    <!-- about section starts  -->

    <section class="about" id="about">

        <h1 class="heading">حول التطبيق</h1>

        <div class="row">

            <div class="image">
                <img src="assets/img/about-img.png" alt="">
            </div>

            <div class="content">
                <h3>ألق نظرة على تطبيقنا</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus labore perspiciatis iusto debitis, explicabo neque earum accusamus adipisci eius, nobis laboriosam, autem modi porro quisquam saepe assumenda fuga quod ipsa!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit rerum excepturi alias quas voluptatibus provident voluptatum sapiente quos enim praesentium?</p>
                <div class="buttons">
                    <a href="#"><img src="assets/img/google-btn.png" alt=""></a>
                    <a href="#"><img src="assets/img/app-store-btn.png" alt=""></a>
                </div>
            </div>

        </div>

    </section>

    <!-- about section ends -->

    <!-- usage section starts  -->

    <section class="usage" id="usage">

        <h1 class="heading">كيف يعمل?</h1>

        <div class="row">

            <div class="box-container">
                <div class="box">
                    <i class="fas fa-sort-amount-down"></i>
                    <h3>minimum progress</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem dolor nihil dicta eveniet quam nam explicabo, natus labore quia cupiditate.</p>
                </div>
                <div class="box">
                    <i class="fas fa-user-clock"></i>
                    <h3>active time</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem dolor nihil dicta eveniet quam nam explicabo, natus labore quia cupiditate.</p>
                </div>
            </div>

            <img class="divider" src="images/usage-img.png" alt="">

            <div class="box-container">
                <div class="box">
                    <i class="fas fa-sort-amount-up"></i>
                    <h3>maximum progress</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem dolor nihil dicta eveniet quam nam explicabo, natus labore quia cupiditate.</p>
                </div>
                <div class="box">
                    <i class="fas fa-fire"></i>
                    <h3>calories burned</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem dolor nihil dicta eveniet quam nam explicabo, natus labore quia cupiditate.</p>
                </div>
            </div>

        </div>

    </section>

    <!-- usage section ends -->

    <!-- review section starts  -->

    <section class="review" id="review">

        <h1 class="heading">أراء المستحدمين</h1>

        <div class="box-container">
            <div class="box">
                <img src="images/pic1.png" alt="">
                <h3>john deo</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem fugit corporis consectetur reprehenderit officia earum, voluptate adipisci facere ea est!</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
            <div class="box">
                <img src="images/pic2.png" alt="">
                <h3>john deo</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem fugit corporis consectetur reprehenderit officia earum, voluptate adipisci facere ea est!</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="box">
                <img src="images/pic3.png" alt="">
                <h3>john deo</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem fugit corporis consectetur reprehenderit officia earum, voluptate adipisci facere ea est!</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>

    </section>

    <!-- review section ends -->


    <!-- footer section starts  -->

    <section class="footer">

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>


    </section>

    <!-- footer section ends -->



















    <!-- script part  -->

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper(".image-slider", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 100,
                modifier: 2,
                slideShadows: true,
            },
            loop: true,
            autoplay: {
                delay: 2000,
                disableOnInteraction: false,
            },
        });

        let menu = document.querySelector('#menu-bar');
        let navbar = document.querySelector('.navbar');

        menu.addEventListener('click', () => {
            menu.classList.toggle('fa-times');
            navbar.classList.toggle('nav-toggle');
        });

        window.onscroll = () => {
            menu.classList.remove('fa-times');
            navbar.classList.remove('nav-toggle');
        }
    </script>


</body>

</html>