<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/png">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="assets/css/styles.css">
    <!---font awsom icon-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Yesteryear&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mada:wght@400;600&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&display=swap" rel="stylesheet">

    <title>DTA-Chlef</title>
</head>

<body>

    <!--========== NAVBAR ==========-->
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"><a href="#"> مديرية السياحة و الصناعة التقليدية

            </a>
            </div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">مديرية السياحة و الصناعة التقليدية</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">


                    <li><a href="index.html">الأساسية </a></li>

                    <li>
                        <a href="#about">من نحن</a>
                        <i class='bx bxs-chevron-down js-arrow arrow '></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a href="#testim">كلمات</a></li>
                            <li><a href="#">مهام </a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#belle">أجمل الأماكن</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="#video-but">اكتشف الشلف</a></li>
                            <li><a href="#belle">أماكن</a></li>
                            <li><a href="#hotel">فنادق</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#act"> النشاطات</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="#"> مواعيد</a></li>
                            <li><a href="#">محلية</a></li>
                            <li><a href="#act">وطنية</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#art"> الصناعة التقليدية</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="#art">محلية</a></li>
                            <li class="more">
                                <span><a href="shop.html">تسوق</a>
                    <i class=' arrow more-arrow'></i>
                  </span>
                            </li>
                        </ul>
                    </li>

                    <li><a href="book.html"> كتبنا </a></li>
                    <li><a href="app.html"> سقسيني </a></li>
                    <li><a href="#contact">تواصل معنا</a></li>

                </ul>
            </div>
            <div class="search-box">
                <i class='bx bx-search' style="z-index: -1;color: transparent;"></i>
                <img src="assets/img/logo.png" style="z-index: 9999;">

                <div class="input-box">
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>


        <div class="nav__dark">
            <!-- Theme change button -->
            <span class="change-theme-name">  </span>
            <i class="ri-moon-line change-theme" id="theme-button"></i>
        </div>


        </div>

    </nav>
    </div>
    </header>


    <section>
        <div class="component">
            <ul class="align">
                <!-- Book 1 -->
                <li>
                    <figure class='book'>
                        <!-- Front -->
                        <ul class='hardcover_front'>
                            <li>
                                <img src="https://s.cdpn.io/13060/book1.jpg" alt="" style="height: 100%; width: 100%;">
                                <span class="ribbon bestseller">Nº1</span>
                            </li>
                            <li></li>
                        </ul>
                        <!-- Pages -->
                        <ul class='page'>
                            <li></li>
                            <li>
                                <a class="btn" href="#">تحميل</a>
                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <!-- Back -->
                        <ul class='hardcover_back'>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class='book_spine'>
                            <li></li>
                            <li></li>
                        </ul>
                        <figcaption>
                            <h1>Responsive Web Design</h1>
                            <span>By Ethan Marcotte</span>
                            <p>From mobile browsers to netbooks and tablets, users are visiting your sites from an increasing array of devices and browsers. Are your designs ready?...</p>
                        </figcaption>
                    </figure>
                </li>
                <!-- Book 2 -->
                <li>
                    <figure class='book'>
                        <!-- Front -->
                        <ul class='hardcover_front'>
                            <li>
                                <img src="https://s.cdpn.io/13060/book2.jpg" alt="" style="height: 100%; width: 100%;">
                                <span class=" ribbon new ">NEW</span>
                            </li>
                            <li></li>
                        </ul>
                        <!-- Pages -->
                        <ul class='page'>
                            <li></li>
                            <li>
                                <a class="btn " href="# ">تحميل</a>
                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <!-- Back -->
                        <ul class='hardcover_back'>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class='book_spine'>
                            <li></li>
                            <li></li>
                        </ul>
                        <figcaption>
                            <h1>Mobile First</h1>
                            <span>By Luke Wroblewski</span>
                            <p>Our industry’s long wait for the complete, strategic guide to mobile web design is finally over. Former Yahoo! design architect and co-creator of Bagcheck Luke Wroblewski knows more about mobile experience than the rest of
                                us...
                            </p>
                        </figcaption>
                    </figure>
                </li>
                <!-- Book 3 -->
                <li>
                    <figure class='book'>
                        <!-- Front -->
                        <ul class='hardcover_front'>
                            <li>
                                <img src="https://s.cdpn.io/13060/book3.jpg " alt=" " style="height: 100%; width: 100%;">
                            </li>
                            <li></li>
                        </ul>
                        <!-- Pages -->
                        <ul class='page'>
                            <li></li>
                            <li>
                                <a class="btn " href="# ">تحميل</a>
                            </li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <!-- Back -->
                        <ul class='hardcover_back'>
                            <li></li>
                            <li></li>
                        </ul>
                        <ul class='book_spine'>
                            <li></li>
                            <li></li>
                        </ul>
                        <figcaption>
                            <h1>Adaptive Web Desgn</h1>
                            <span>By Aaron Gustafson</span>
                            <p>The web is an ever-changing medium whose scope, application, audience and platform continue to grow on a daily basis. If you’ve worked on the web for any amount of time, you’ve likely heard or even used the term “progressive
                                enhancement.”...
                            </p>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </section>
    <!--=============== SCROLL REVEAL===============-->
    <script src="assets/js/scrollreveal.min.js "></script>

    <!--=============== SWIPER JS ===============-->
    <script src="assets/js/swiper-bundle.min.js "></script>

    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js "></script>
</body>

</html>

</html>