<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Dta</title>
    <link rel="stylesheet" href="new.css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel=" stylesheet" href="new.css/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="new.css/style.css">
</head>

<body>
    <div class="site-wrapper">
        <div class="main-overlay"></div>
        <header class="header-default">
            <nav class="navbar navbar-expand-lg">
                <div class="container-xl">
                    <!-- logo  -->
                    <a href="index.html" class="navbar-brand">
                        <img src="images/other/author-sm.jpg" alt="">
                    </a>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">

                            <li class="nav-item">
                                <a href="#trs" class="nav-link">سياحة</a>
                            </li>
                            <li class="nav-item">
                                <a href="#nth" class="nav-link">نشاطات</a>
                            </li>
                            <li class="nav-item">
                                <a href="#zrt" class="nav-link"> زيارات</a>
                            </li>
                            <li class="nav-item">
                                <a href="#news" class="nav-link">أخبار</a>
                            </li>
                            <li class="nav-item dropdown active">
                                <a href="/" class="nav-link dropdown-toggle">الرئيسية</a>
                                <ul class="dropdown-menu">


                                </ul>
                            </li>
                        </ul>
                    </div>

                    <!-- right side of header  -->
                    <div class="header-right">
                        <ul class="social-icons list-unstyled list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>

                            <li class="list-inline-item">
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>

                        <!-- buttons  -->
                        <div class="header-buttons">
                            <button class="search icon-button">
                                <i class="icon-magnifier"></i>
                            </button>
                            <button class="burger-menu icon-button">
                                <span class="burger-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>


        </header>



        <!-- section starts  -->
        <section id="hero">
            <div class="container-xl">
                <div class="row gy-4">
                    <div class="col-lg-8">

                        <div class="post featured-post-lg">
                            <div class="details clearfix">
                                <a href="#" class="category-badge">new</a>
                                <h2 class="post-title">
                                    <a> زيارة وزير السياحة و الصناعة التقليدية  يوم الثلاثاء 26 أفريل 2022 لولاية الشلف </a>
                                </h2>
                                <ul class="meta list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="#">Dta Chlef</a>
                                    </li>
                                    <li class="list-inline-item">30 May 2021</li>
                                </ul>
                            </div>
                            <a href="#">
                                <div class="thumb rounded">
                                    <div class="inner data-bg-image" data-bg-image="assets/img/img.jpeg">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="post-tabs rounded bordered">
                            <ul class="nav nav-tabs nav-pills nav-fill" id="postTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button aria-controls="popular" aria-selected="true" class="nav-link active" data-bs-target="#popular" data-bs-toggle="tab" id="popular-tab" role="tab" type="button">
                                        ولائي
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button aria-controls="recent" aria-selected="false" class="nav-link" data-bs-target="#recent" data-bs-toggle="tab" id="recent-tab" role="tab" type="button">
                                        وزاري
                                    </button>
                                </li>

                            </ul>

                            <!-- content  -->
                            <div class="tab-content" id="postsTabContent">
                                <!-- loader -->
                                <div class="lds-dual-ring"></div>
                                <!-- pop post  -->

                                <div class="tab-pane fade show active" id="popular" aria-labelledby="popular-tab" role="tabpanel">
                                    <!-- post  -->
                                    <div class="post post-list-sm circle">
                                        <div class="thumb circle">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="assets/img/img.jpeg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="#">
                                            زيارة مجاملة و تفقد</a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">24 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post2  -->
                                    <div class="post post-list-sm circle">
                                        <div class="thumb circle">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="assets/img/khobz.jpeg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="#">مسابقة الخبز التقليدي بأنواعه </a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">26 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post3  -->
                                    <div class="post post-list-sm circle">
                                        <div class="thumb circle">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="images/posts/an3.png" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="#">زيارة إلى ورشات الخياطة </a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">28 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post4  -->
                                    <div class="post post-list-sm circle">
                                        <div class="thumb circle">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="images/posts/tabs-4.png" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="#"></a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">01 Jun 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- recent  -->
                                <div class="tab-pane fade" id="recent" aria-labelledby="recent-tab" role="tabpanel">
                                    <!-- post  -->
                                    <div class="post post-list-sm circle">
                                        <div class="thumb circle">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="images/posts/an4.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="#">افتتاح السنة الأكاديمية الجديدة 2021-2022 لمؤسسات التكوين</a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">24 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post2  -->
                                    <div class="post post-list-sm circle">
                                        <div class="thumb circle">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="images/posts/an5.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="#">زيارة  ميدانية فجائية إلى ورشة </a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">26 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post3  -->
                                    <div class="post post-list-sm circle">
                                        <div class="thumb circle">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="images/posts/an6.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="#">جلسة عمل مع السيدة نائب وزير السياحة اليوناني</a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">28 Jun 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- post4  -->
                                    <div class="post post-list-sm circle">
                                        <div class="thumb circle">
                                            <a href="#">
                                                <div class="inner">
                                                    <img src="images/posts/tabs-4.png" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix">
                                            <h6 class="post-title my-0">
                                                <a href="#"></a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0">
                                                <li class="list-inline-item">04 Jun 2021</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </section>


        <!-- main content  -->

        <section class="main-content ">
            <div class="container-xl ">
                <div class="row gy-4 ">

                    <!-- left part 1st section  -->
                    <div class="col-lg-8 ">
                        <div class="section-header ">
                            <h3 class="section-title " id="news">أخبار</h3>
                        </div>

                        <div class="padding-30 rounded bordered ">
                            <div class="row gy-5 ">
                                <div class="col-sm-6 ">
                                    <!-- post  -->
                                    <div class="post ">
                                        <div class="thumb rounded ">
                                            <a href="# " class="category-badge position-absolute ">new</a>
                                            <span class="post-format ">
                                                <i class="icon-picture "></i>
                                            </span>
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/photo1649974472.jpeg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <ul class="meta list-inline mt-4 mb-0 ">
                                            <li class="list-inline-item ">
                                                <a href="# ">
                                                    <img class="author " src="" alt=" "> Dta Chlef
                                                </a>
                                            </li>
                                            <li class="list-inline-item ">05 Jun 2021</li>
                                        </ul>


                                        <div class="service-items ">
                                            <!-- item start -->
                                            <div class="item-inner ">
                                                <h5 class="post-title mb-3 mt-3 ">
                                                    <h3 href=" ">تنظيم أول جامعة صيفية بمناسبة اليوم العالمي للسياحة دامت ليومين 27 و 28 سبتمبر 2021 تحت شعار التحول الرقمي في الشلف</h3>

                                                </h5>


                                                <div class="read-more-cont " id="more">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.</p>
                                                    <img src="images/photo1649974472.jpeg " alt=" ">
                                                </div>
                                            </div>
                                        </div>
                                        <p class="excerpt mb-0 ">
                                            تنظيم أول جامعة صيفية بمناسبة اليوم العالمي للسياحة دامت ليومين 27 و 28 سبتمبر 2021 تحت شعار التحول الرقمي في الشلف
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6 ">
                                    <div class="post post-list-sm square ">
                                        <div class="thumb rounded ">
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/photo1650668569.jpeg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix ">
                                            <h6 class="post-title my-0 ">
                                                <a href="# ">
                                                    مشاركة مديريـة السيـاحــة و الصنـاعـة التقليديـة لولاية الشلف بتنشيط سوق الرحمة طيلة شهر رمضان بترشيح الحرفيين لبيع منتجاتهم طيلة شهر رمضان الفضيل                               </a>
                                                </a>


                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0 ">
                                                <li class="list-inline-item ">25 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm square ">
                                        <div class="thumb rounded ">
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/photo1650669549.jpeg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix ">
                                            <h6 class="post-title my-0 ">
                                                <a href="# ">
                                                    نظمت مديرية السياحة و الصناعة التقليدية لولاية الشلف نصف يوم دراسي يوم 10 نوفمبر 2021 مع جامعة حسيبة بن بوعلي بالشلف تحت عنوان« الجامعة شريك أساسي لترقية ولاية الشلف إلى وجهة سياحية بامتياز» 
                                                    و تمخض عن هذا اليوم الدراسي إمضاء إتفاقية شراكة بين المديرية و الجامعة                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0 ">
                                                <li class="list-inline-item ">25 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm square ">
                                        <div class="thumb rounded ">
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/img5.jpg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix ">
                                            <h6 class="post-title my-0 ">
                                                <a href="# ">
                                                    مراسيم إفتتاح موسم السياحة الصحراوية 2021-2022.                                                </a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0 ">
                                                <li class="list-inline-item ">28 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm square ">
                                        <div class="thumb rounded ">
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/img6.jpg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix ">
                                            <h6 class="post-title my-0 ">
                                                <a href="# ">
                                                    جلسة عمل للوزير مع الامين العام للمنظمة العالمية للسياحة                                               </a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0 ">
                                                <li class="list-inline-item ">28 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="spacer " data-height="50 "></div>

                        <div class="section-header ">
                            <h3 class="section-title " id="zrt">زيارات</h3>
                        </div>

                        <div class="padding-30 rounded bordered ">
                            <div class="row gy-5 ">
                                <div class="col-sm-6 ">
                                    <div class="post ">
                                        <div class="thumb rounded ">
                                            <a href="# " class="category-badge position-absolute ">new</a>
                                            <span class="post-format ">
                                                <i class="icon-picture "></i>
                                            </span>
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/img7.jpg " style="height: 250px;" alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <ul class="meta list-inline mt-4 mb-0 ">
                                            <li class="list-inline-item ">
                                                <a href="# ">
                                                    <img src="images/other/author-sm.jpg " class="author " alt=" "> Dta Chlef
                                                </a>
                                            </li>
                                            <li class="list-inline-item ">24 May 2021</li>
                                        </ul>
                                        <h5 class="post-title mb-3 mt-3 ">
                                            <a href="# ">مستقبل السياحة ببرشلونة</a>
                                        </h5>
                                        <p class="excerpt mb-0 ">
                                            وزير السياحة والصناعة التقليدية السيد ياسين حمادي ، في أشغال القمة العالمية حول مستقبل السياحة ببرشلونة </p>
                                    </div>

                                    <div class="post post-list-sm square before-seperator ">
                                        <div class="thumb rounded ">
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/img9.jpg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix ">
                                            <h6 class="post-title my-0 ">
                                                <a href="# ">زيارة وزير السياحة والصناعة التقليديةاالى ولاية تمنراست بزيارة متحف </a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0 ">
                                                <li class="list-inline-item ">25 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm square before-seperator ">
                                        <div class="thumb rounded ">
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/img10.jpg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix ">
                                            <h6 class="post-title my-0 ">
                                                <a href="# ">معاينةالسيد مدير السياحة والصناعةالتقليدية مدى تقدم أشغال الصيانة </a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0 ">
                                                <li class="list-inline-item ">25 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>




                                </div>

                                <div class="col-sm-6 ">
                                    <div class="post ">
                                        <div class="thumb rounded ">
                                            <a href="# " class="category-badge position-absolute ">new</a>
                                            <span class="post-format ">
                                                <i class="icon-earphones "></i>
                                            </span>
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/img8.jpg " style="height: 250px;" alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <ul class="meta list-inline mt-4 mb-0 ">
                                            <li class="list-inline-item ">
                                                <a href="# ">
                                                    <img src="images/other/author-sm.jpg " class="author " alt=" "> Dta Chlef
                                                </a>
                                            </li>
                                            <li class="list-inline-item ">29 May 2021</li>
                                        </ul>
                                        <h5 class="post-title mb-3 mt-3 ">
                                            <a href="# ">تدشين الفندق العمومي تهات</a>
                                        </h5>
                                        <p class="excerpt mb-0 ">
                                            قام وزير السياحة والصناعة التقليدية السيد ياسين حمادي خلال زيارته الى ولاية تمنراست بتدشين الفندق العمومي تهات </p>
                                    </div>

                                    <div class="post post-list-sm square before-seperator ">
                                        <div class="thumb rounded ">
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/img11.jpg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix ">
                                            <h6 class="post-title my-0 ">
                                                <a href="# ">زيارة الأمينة العامة للجامعة الصيفية بموسم رقمنة القطاع السياحي بالشلف</a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0 ">
                                                <li class="list-inline-item ">25 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm square before-seperator ">
                                        <div class="thumb rounded ">
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/img12.jpg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix ">
                                            <h6 class="post-title my-0 ">
                                                <a href="# ">إستقبال الوفد الرياضي المشارك في الالعاب الشبه اولمبية بفندق الجزائر</a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0 ">
                                                <li class="list-inline-item ">25 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="spacer " data-height="50 "></div>

                        <div class="section-header ">
                            <h3 class="section-title " id="trs">سياحة</h3>
                            <div class="slick-arrows-top ">
                                <buttton class="carousel-topNav-prev slick-custom-buttons " type="button " data-role="none " aria-label="Previous ">
                                    <i class="icon-arrow-left "></i>
                                </buttton>
                                <buttton class="carousel-topNav-next slick-custom-buttons " type="button " data-role="none " aria-label="Next ">
                                    <i class="icon-arrow-right "></i>
                                </buttton>
                            </div>
                        </div>

                        <div class="row post-carousel-twoCol post-carousel ">
                            <div class="post post-over-content col-md-6 ">
                                <div class="details clearfix ">
                                    <a href="# " class="category-badge ">new</a>
                                    <h4 class="post-title ">
                                        <a href="# ">باخرات الشحن بميناء التنس الشلف </a>
                                    </h4>
                                    <ul class="meta list-inline mb-0 ">
                                        <li class="list-inline-item ">
                                            <a href="# ">Dta chlef</a>
                                        </li>
                                        <li class="list-inline-item ">03 Jun 2021</li>
                                    </ul>
                                </div>
                                <a href="# ">
                                    <div class="thumb rounded ">
                                        <div class="inner ">
                                            <img src="images/posts/port.jpg " alt=" ">
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="post post-over-content col-md-6 ">
                                <div class="details clearfix ">
                                    <a href="# " class="category-badge ">new</a>
                                    <h4 class="post-title ">
                                        <a href="# ">دار البارود الشلف</a>
                                    </h4>
                                    <ul class="meta list-inline mb-0 ">
                                        <li class="list-inline-item ">
                                            <a href="# ">Dta chlef</a>
                                        </li>
                                        <li class="list-inline-item ">02 Jun 2021</li>
                                    </ul>
                                </div>
                                <a href="# ">
                                    <div class="thumb rounded ">
                                        <div class="inner ">
                                            <img src="images/posts/img13.jpg " alt=" ">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="post post-over-content col-md-6 ">
                                <div class="details clearfix ">
                                    <a href="# " class="category-badge ">new</a>
                                    <h4 class="post-title ">
                                        <a href="# "></a>
                                    </h4>
                                    <ul class="meta list-inline mb-0 ">
                                        <li class="list-inline-item ">
                                            <a href="# ">Dta chlef</a>
                                        </li>
                                        <li class="list-inline-item ">02 Jun 2021</li>
                                    </ul>
                                </div>
                                <a href="# ">
                                    <div class="thumb rounded ">
                                        <div class="inner ">
                                            <img src="images/telegram/img (2).jpeg " alt=" ">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="post post-over-content col-md-6 ">
                                <div class="details clearfix ">
                                    <a href="# " class="category-badge ">new</a>
                                    <h4 class="post-title ">
                                        <a href="# "></a>
                                    </h4>
                                    <ul class="meta list-inline mb-0 ">
                                        <li class="list-inline-item ">
                                            <a href="# ">Dta chlef</a>
                                        </li>
                                        <li class="list-inline-item ">02 Jun 2021</li>
                                    </ul>
                                </div>
                                <a href="# ">
                                    <div class="thumb rounded ">
                                        <div class="inner ">
                                            <img src="images/telegram/img (1).jpeg " alt=" ">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="post post-over-content col-md-6 ">
                                <div class="details clearfix ">
                                    <a href="# " class="category-badge ">new</a>
                                    <h4 class="post-title ">
                                        <a href="# ">الشف</a>
                                    </h4>
                                    <ul class="meta list-inline mb-0 ">
                                        <li class="list-inline-item ">
                                            <a href="# ">Dta chlef</a>
                                        </li>
                                        <li class="list-inline-item ">01 Jun 2021</li>
                                    </ul>
                                </div>
                                <a href="# ">
                                    <div class="thumb rounded ">
                                        <div class="inner ">
                                            <img src="images/posts/img14.jpg " alt=" ">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                       

                        <div class="spacer " data-height="50 "></div>

                        <div class="section-header ">
                            <h3 class="section-title " id="nth">نشاطات</h3>
                        </div>

                        <div class="padding-30 rounded bordered ">
                            <div class="row ">
                                <div class="col-md-12 col-sm-6 ">
                                    <!-- post  -->
                                    <div class="post post-list clearfix ">
                                        <div class="thumb rounded ">
                                            <span class="post-format-sm ">
                                                <i class="icon-picture "></i>
                                            </span>
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/img15.jpg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details ">
                                            <ul class="meta list-inline mb-3 ">
                                                <li class="list-inline-item ">
                                                    <a href="# ">
                                                        <img src="images/other/author-sm.jpg " class="author " alt=" ">Dta chlef
                                                    </a>
                                                </li>
                                                <li class="list-inline-item ">
                                                    <a href="# ">new</a>
                                                </li>
                                                <li class="list-inline-item ">26 May 2021</li>
                                            </ul>
                                            <h5 class="post-tile ">
                                                <a href="# ">
                                                    تحصل نادي و رياضي من ولاية شلف على المرتبة الأولى                                                 </a>
                                            </h5>
                                            <p class="excerpt mb-0 ">
                                                لأول مرة في التاريخ يتحصل نادي و رياضي من ولاية شلف على المرتبة الأولى في البطولة الوطنية للصيد الرياضي تحت الماء </p>
                                            <div class="post-bottom clearfix d-flex align-items-center ">
                                                <div class="social-share me-auto ">
                                                    <button class="toggle-button icon-share "></button>
                                                    <ul class="icons list-unstyled list-inline mb-0 ">
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-facebook-f "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-twitter "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-linkedin-in "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-pinterest "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-telegram-plane "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="far fa-envelope "></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="more-button float-end ">
                                                    <a href="# "><span class="icon-options "></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-6 ">
                                    <!-- post  -->
                                    <div class="post post-list clearfix ">
                                        <div class="thumb rounded ">
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/img16.jpg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details ">
                                            <ul class="meta list-inline mb-3 ">
                                                <li class="list-inline-item ">
                                                    <a href="# ">
                                                        <img src="images/other/author-sm.jpg " class="author " alt=" "> Dta Chlef
                                                    </a>
                                                </li>
                                                <li class="list-inline-item ">
                                                    <a href="# ">new</a>
                                                </li>
                                                <li class="list-inline-item ">26 May 2021</li>
                                            </ul>
                                            <h5 class="post-tile ">
                                                <a href="# ">
                                                    برنامج_تحويسة_على_قناة canal_Algérie.                                                 </a>
                                            </h5>
                                            <p class="excerpt mb-0 ">

                                                #برنامج_تحويسة_على_قناة_canal_Algérie. #المحطة_الأولى_كانت_بمدينة_بني_حواء. #خلية_الاعلام_مديرية_السياحة_و_الصناعة_التقليدية_لولاية_الشلف </p>
                                            <div class="post-bottom clearfix d-flex align-items-center ">
                                                <div class="social-share me-auto ">
                                                    <button class="toggle-button icon-share "></button>
                                                    <ul class="icons list-unstyled list-inline mb-0 ">
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-facebook-f "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-twitter "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-linkedin-in "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-pinterest "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-telegram-plane "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="far fa-envelope "></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="more-button float-end ">
                                                    <a href="# "><span class="icon-options "></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-6 ">
                                    <!-- post  -->
                                    <div class="post post-list clearfix ">
                                        <div class="thumb rounded ">
                                            <span class="post-format-sm ">
                                                <i class="icon-camrecorder "></i>
                                            </span>
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/img17.jpg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details ">
                                            <ul class="meta list-inline mb-3 ">
                                                <li class="list-inline-item ">
                                                    <a href="# ">
                                                        <img src="images/other/author-sm.jpg " class="author " alt=" "> Dta Chlef
                                                    </a>
                                                </li>
                                                <li class="list-inline-item ">
                                                    <a href="# ">new</a>
                                                </li>
                                                <li class="list-inline-item ">26 May 2021</li>
                                            </ul>
                                            <h5 class="post-tile ">
                                                <a href="# ">
                                                    اختتام الدورة التكوينية الخاصة بصناعة الحلويات                                                 </a>
                                            </h5>
                                            <p class="excerpt mb-0 ">
                                                اختتام الدورة التكوينية الخاصة بصناعة الحلويات على مستوى غرفة الصناعة التقليدية، أشرف السيد مدير السياحة و الصناعة التقليدية لولاية الشلف على اختتام فعاليات هذه الدورة </p>
                                            <div class="post-bottom clearfix d-flex align-items-center ">
                                                <div class="social-share me-auto ">
                                                    <button class="toggle-button icon-share "></button>
                                                    <ul class="icons list-unstyled list-inline mb-0 ">
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-facebook-f "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-twitter "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-linkedin-in "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-pinterest "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-telegram-plane "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="far fa-envelope "></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="more-button float-end ">
                                                    <a href="# "><span class="icon-options "></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-6 ">
                                    <!-- post  -->
                                    <div class="post post-list clearfix ">
                                        <div class="thumb rounded ">
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/img18.jpg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details ">
                                            <ul class="meta list-inline mb-3 ">
                                                <li class="list-inline-item ">
                                                    <a href="# ">
                                                        <img src="images/other/author-sm.jpg " class="author " alt=" "> Dta Chlef
                                                    </a>
                                                </li>
                                                <li class="list-inline-item ">
                                                    <a href="# ">new</a>
                                                </li>
                                                <li class="list-inline-item ">26 May 2021</li>
                                            </ul>
                                            <h5 class="post-tile ">
                                                <a href="# ">
                                                    اعطاء اشارة انطلاق مغامرة " #الصعود_إلى_الطاسيلي "                                                 </a>
                                            </h5>
                                            <p class="excerpt mb-0 ">
                                                أشرف صبيحة اليوم بالجزائر العاصمة، رئيس ديوان وزير السياحة والصناعة التقليدية السيد الوردي عبيدي نيابة عن وزير السياحة والصناعة التقليدية السيد ياسين حمادي على اعطاء اشارة انطلاق مغامرة " #الصعود_إلى_الطاسيلي " </p>
                                            <div class="post-bottom clearfix d-flex align-items-center ">
                                                <div class="social-share me-auto ">
                                                    <button class="toggle-button icon-share "></button>
                                                    <ul class="icons list-unstyled list-inline mb-0 ">
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-facebook-f "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-twitter "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-linkedin-in "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-pinterest "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="fab fa-telegram-plane "></i></a>
                                                        </li>
                                                        <li class="list-inline-item ">
                                                            <a href="# "><i class="far fa-envelope "></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="more-button float-end ">
                                                    <a href="# "><span class="icon-options "></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center ">
                                    <button class="btn btn-simple ">المزيد</button>
                                </div>
                            </div>
                        </div>
                        <!-- left part over here  -->
                    </div>
                    <!-- right part starts from here  -->

                    <div class="col-lg-4 ">
                        <div class="sidebar ">
                            <div class="widget rounded ">
                                <div class="widget-about text-center ">
                                    <img src="images/other/author-sm.jpg " alt=" " class="logo ">
                                    <p class="mb-4 " style="text-align: justify; ">أنشت مديرية السياحة و الصناعة التقليدية لولاية الشلف بموجب مرسوم رقم260 المؤرخ في20أوت1995 التي تتكون من ثلاثة مصالح , مصلحة السياحة و مصلحة الصناعة التقليدية و مصلحةالادارة و الوسائل
                                    </p>
                                    <ul class="social-icons list-unstyled list-inline mb-0 ">
                                        <li class="list-inline-item ">
                                            <a href="# "><i class="fab fa-facebook-f "></i></a>
                                        </li>
                                        <li class="list-inline-item ">
                                            <a href="# "><i class="fab fa-twitter "></i></a>
                                        </li>
                                        <li class="list-inline-item ">
                                            <a href="# "><i class="fab fa-linkedin-in "></i></a>
                                        </li>
                                        <li class="list-inline-item ">
                                            <a href="# "><i class="fab fa-pinterest "></i></a>
                                        </li>
                                        <li class="list-inline-item ">
                                            <a href="# "><i class="fab fa-telegram-plane "></i></a>
                                        </li>
                                        <li class="list-inline-item ">
                                            <a href="# "><i class="far fa-envelope "></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="widget rounded ">
                                <div class="widget-header text-center ">
                                    <h3 class="widget-title ">إعلانات</h3>
                                </div>
                                <div class="widget-content ">
                                    <div class="post post-list-sm circle ">
                                        <div class="thumb circle ">
                                            <span class="number ">1</span>
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/aa4.jpg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix ">
                                            <h6 class="post-title my-0 ">
                                                <a href="# "> الجامعة الصيفية 2021</a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0 ">
                                                <li class="list-inline-item ">30 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm circle ">
                                        <div class="thumb circle ">
                                            <span class="number ">2</span>
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/aa2.jpg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix ">
                                            <h6 class="post-title my-0 ">
                                                <a href="# ">حملة تنظيف و إزاحة النفايات و الأوساخ </a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0 ">
                                                <li class="list-inline-item ">30 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm circle ">
                                        <div class="thumb circle ">
                                            <span class="number ">3</span>
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/aa1.jpg " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix ">
                                            <h6 class="post-title my-0 ">
                                                <a href="# ">موسم السياحة الصحراوية 2021-2022 </a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0 ">
                                                <li class="list-inline-item ">30 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post post-list-sm circle ">
                                        <div class="thumb circle ">
                                            <a href="# ">
                                                <div class="inner ">
                                                    <img src="images/posts/tabs-4.png " alt=" ">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="details clearfix ">
                                            <h6 class="post-title my-0 ">
                                                <a href="# "></a>
                                            </h6>
                                            <ul class="meta list-inline mt-1 mb-0 ">
                                                <li class="list-inline-item ">30 May 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="widget rounded ">
                                <div class="widget-header text-center ">
                                    <h3 class="widget-title ">مقالات</h3>
                                </div>
                                <div class="widget-content ">
                                    <ul class="list ">
                                        <li><a href=" ">السياحة</a><span>(7)</span></li>
                                        <li><a href=" ">الرقمنة</a><span>(5)</span></li>
                                        <li><a href=" ">التكنولوجا</a><span>(1)</span></li>
                                        <li><a href=" ">المعرفة</a><span>(9)</span></li>
                                        <li><a href=" ">الشلف</a><span>(2)</span></li>
                                        <li><a href=" ">التطور</a><span>(4)</span></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="widget rounded ">
                                <div class="widget-header text-center ">
                                    <h3 class="widget-title ">Newsletter</h3>
                                </div>
                                <div class="widget-content ">
                                    <span class="newsletter-headline text-center mb-3 ">Join 50,000 subscribers</span>
                                    <form action="# ">
                                        <div class="mb-2 ">
                                            <input type="email " class="form-control w-100 text-center " placeholder="Email address... ">
                                        </div>
                                        <button class="btn btn-default btn-full ">Sign Up</button>

                                    </form>
                                    <span class="newsletter-privacy text-center mt-3 ">
                                        By signing up, you agree to our <a href="# ">Privacy policy</a>
                                    </span>
                                </div>
                            </div>

                            <div class="widget rounded ">
                                <div class="widget-header text-center ">
                                    <h3 class="widget-title ">COVID-19</h3>
                                </div>
                                <div class="widget-content ">
                                    <div class="post-carousel-widget ">

                                        <div class="post post-carousel ">
                                            <div class="thumb rounded ">
                                                <a href="# " class="category-badge position-absolute ">COVID-19</a>
                                                <a href="# ">
                                                    <div class="inner ">
                                                        <img src="images/posts/wid-1.jpg " alt=" ">
                                                    </div>
                                                </a>
                                            </div>
                                            <h5 class="post-title mb-0 mt-4 ">
                                                <a href="# ">
                                                    أشياء يجب القيام بها لتكون آمنًا من كورونا


                                                </a>
                                            </h5>
                                            <ul class="meta list-inline mt-2 mb-0 ">
                                                <li class="list-inline-item ">
                                                    <a href="# ">Dta Chlef</a>
                                                </li>
                                                <li class="list-inline-item ">29 March 2021</li>
                                            </ul>
                                        </div>
                                        <div class="post post-carousel ">
                                            <div class="thumb rounded ">
                                                <a href="# " class="category-badge position-absolute ">COVID-19</a>
                                                <a href="# ">
                                                    <div class="inner ">
                                                        <img src="images/posts/wid-2.jpg " alt=" ">
                                                    </div>
                                                </a>
                                            </div>
                                            <h5 class="post-title mb-0 mt-4 ">
                                                <a href="# ">اغسل يديك بعد فترة زمنية معينة.</a>
                                            </h5>
                                            <ul class="meta list-inline mt-2 mb-0 ">
                                                <li class="list-inline-item ">
                                                    <a href="# ">Dta Chlef</a>
                                                </li>
                                                <li class="list-inline-item ">29 March 2021</li>
                                            </ul>
                                        </div>
                                        <div class="post post-carousel ">
                                            <div class="thumb rounded ">
                                                <a href="# " class="category-badge position-absolute ">COVID-19</a>
                                                <a href="# ">
                                                    <div class="inner ">
                                                        <img src="images/posts/wid-3.jpg " alt=" ">
                                                    </div>
                                                </a>
                                            </div>
                                            <h5 class="post-title mb-0 mt-4 ">
                                                <a href="# ">احصل على التطعيم لوقف سلسلة كورونا</a>
                                            </h5>
                                            <ul class="meta list-inline mt-2 mb-0 ">
                                                <li class="list-inline-item ">
                                                    <a href="# ">Dta Chlef</a>
                                                </li>
                                                <li class="list-inline-item ">29 March 2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="slick-arrows-bot ">
                                        <buttton class="carousel-botNav-prev slick-custom-buttons " type="button " data-role="none " aria-label="Previous ">
                                            <i class="icon-arrow-left "></i>
                                        </buttton>
                                        <buttton class="carousel-botNav-next slick-custom-buttons " type="button " data-role="none " aria-label="Next ">
                                            <i class="icon-arrow-right "></i>
                                        </buttton>
                                    </div>

                                </div>
                            </div>


                            <div class="widget rounded ">
                                <div class="widget-header text-center ">
                                    <h3 class="widget-title ">Tag Clouds</h3>
                                </div>
                                <div class="widget-content ">
                                    <a href="# " class="tag ">#Dta</a>
                                    <a href="# " class="tag ">#Chlef</a>
                                    <a href="# " class="tag ">#Tourism</a>
                                    <a href="# " class="tag ">#Artisan</a>
                                    <a href="# " class="tag ">#Finance</a>
                                    <a href="# " class="tag ">#Algeria</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="instagram ">
            <div class="container-xl ">
                <a href="# " class="btn btn-default btn-instagram ">@Dta Chlef on Instagram</a>
                <div class="instagram-feed d-flex flex-wrap ">
                    <div class="insta-item col-sm-2 col-6 col-md-2 ">
                        <a href="# ">
                            <img src="images/insta/insta-1.jpg " alt=" ">
                        </a>
                    </div>
                    <div class="insta-item col-sm-2 col-6 col-md-2 ">
                        <a href="# ">
                            <img src="images/insta/insta-2.jpg " alt=" ">
                        </a>
                    </div>
                    <div class="insta-item col-sm-2 col-6 col-md-2 ">
                        <a href="# ">
                            <img src="images/insta/insta-3.jpg " alt=" ">
                        </a>
                    </div>
                    <div class="insta-item col-sm-2 col-6 col-md-2 ">
                        <a href="# ">
                            <img src="images/insta/insta-4.jpg " alt=" ">
                        </a>
                    </div>
                    <div class="insta-item col-sm-2 col-6 col-md-2 ">
                        <a href="# ">
                            <img src="images/insta/insta-5.jpg " alt=" ">
                        </a>
                    </div>
                    <div class="insta-item col-sm-2 col-6 col-md-2 ">
                        <a href="# ">
                            <img src="images/insta/insta-6.jpg " alt=" ">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container-xl ">
                <div class="footer-inner ">
                    <div class="row d-flex align-items-center gy-4 ">
                        <div class="col-md-4 ">
                            <span class="copyright ">&copy; 2021 Dta Chlef</span>
                        </div>
                        <div class="col-md-4 text-center ">
                            <ul class="social-icons list-unstyled list-inline mb-0 ">
                                <li class="list-inline-item ">
                                    <a href="# ">
                                        <i class="fab fa-facebook-f "></i>
                                    </a>
                                </li>
                                <li class="list-inline-item ">
                                    <a href="# ">
                                        <i class="fab fa-instagram "></i>
                                    </a>
                                </li>
                                <li class="list-inline-item ">
                                    <a href="# ">
                                        <i class="fab fa-pinterest "></i>
                                    </a>
                                </li>
                                <li class="list-inline-item ">
                                    <a href="# ">
                                        <i class="fab fa-itunes "></i>
                                    </a>
                                </li>
                                <li class="list-inline-item ">
                                    <a href="# ">
                                        <i class="fab fa-youtube "></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 ">
                            <a href="# " id="return-to-top " class="float-md-end ">
                                <i class="icon-arrow-up "></i> Back to Top
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>




    </div>


    <!-- canvas menu  -->
    <div class="canvas-menu d-flex align-items-end flex-column ">
        <button class="btn-close " aria-label="Close " type="button "></button>

        <div class="logo ">
            <img src="images/other/author-sm.jpg" alt=" ">
        </div>
        <nav>
            <ul class="vertical-menu ">
                <li class="active ">
                    <a href="index.html ">الرئيسية</a>
                    <ul class="submenu ">

                    </ul>
                </li>
                <li><a href="#news ">أخبار</a></li>
                <li><a href="#zrt ">زيارات</a></li>
                <li><a href="#nth ">نشاطات</a></li>
                <li><a href="#trs ">سياحة</a></li>
            </ul>
        </nav>


        <ul class="social-icons list-unstyled list-inline mb-0 mt-auto w-100 ">
            <li class="list-inline-item ">
                <a href="# "><i class="fab fa-facebook-f "></i></a>
            </li>
            <li class="list-inline-item ">
                <a href="# "><i class="fab fa-twitter "></i></a>
            </li>
            <li class="list-inline-item ">
                <a href="# "><i class="fab fa-itunes "></i></a>
            </li>
            <li class="list-inline-item ">
                <a href="# "><i class="fab fa-pinterest "></i></a>
            </li>
            <li class="list-inline-item ">
                <a href="# "><i class="fab fa-youtube "></i></a>
            </li>
        </ul>
    </div>


    <!-- search pop up  -->
    <div class="search-popup ">
        <button class="btn-close " aria-label="Close " type="button "></button>

        <div class="search-content ">
            <div class="text-center ">
                <h3 class="mb-4 mt-0 ">Press ESC to close</h3>
            </div>

            <form action=" " class="d-flex search-form ">
                <input type="search " placeholder="Search and press enter ... " aria-label="Search " class="form-control me-2 ">
                <button class="btn btn-default btn-lg " type="submit ">
                    <i class="icon-magnifier "></i>
                </button>
            </form>
        </div>
    </div>





    <!-- read more popup box start -->
    <div class="popup-box ">
        <div class="popup-content ">
            <div class="popup-header ">
                <h3></h3>
                <span class="popup-close-icon ">&times;</span>
            </div>
            <div class="popup-body ">

            </div>
            <div class="popup-footer ">
                <button class="btn popup-close-btn ">Close</button>
            </div>
        </div>
    </div>
    <!-- read more popup box end -->






    <!-- javascripts  -->
    <script src="new.js/jquery.min.js "></script>
    <script src="new.js/popper.min.js "></script>
    <script src="new.js/bootstrap.min.js "></script>
    <script src="new.js/slick.min.js "></script>
    <script src="new.js/jquery.sticky-sidebar.min.js "></script>
    <script src="new.js/main.js "></script>

</body>

</html>