<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>shopping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/shop.css">
    <!-- font awesome -->
    <link href="https://fonts.googleapis.com/css2?family=Mada:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="products">
        <div class="container">
            <h1 class="lg-title">تعرف على ألأعمال التقليدية بالشلف و أسعارها</h1>
            <p class="text-light">أهم الأشغال اليدويّة التي يتمّ عملها في المنازل، وغالباً ما تقوم بها النساء، مثل: الأواني الفخارية، والمنسوجات القطنية، والأثاث المنزليّ المزخرف، كزخرفة الأواني النحاسية، والمجوهرات الفضيّة، والألبسة التقليديّة خاصّةً الزرابي، ويعتبر سكان
                الأرياف من أكثر فئات المجتمع محافظةً على هذه الموروثات، وما زالت بعض الأسر تصنعها وتعرضها للبيع .</p>

            <div class="product-items">
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="assets/img/shop.png" alt="product image">
                        </div>

                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">فخار</h2>
                            <div class="rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "far fa-star"></i></span>
                            </div>
                        </div>
                        <a href="#" class="product-name">صحن</a>
                        <p class="product-price">$ 150.00</p>
                        <p class="product-price">$ 133.00</p>
                    </div>

                    <div class="off-info">
                        <h2 class="sm-title">25% off</h2>
                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="assets/img/shop.png" alt="product image">
                        </div>

                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">نسيج</h2>
                            <div class="rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "far fa-star"></i></span>
                            </div>
                        </div>
                        <a href="#" class="product-name">زربية</a>
                        <p class="product-price">$ 150.00</p>
                        <p class="product-price">$ 133.00</p>
                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="assets/img/shop.png" alt="product image">
                        </div>

                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">فخار</h2>
                            <div class="rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "far fa-star"></i></span>
                            </div>
                        </div>
                        <a href="#" class="product-name">طاجين</a>
                        <p class="product-price">$ 150.00</p>
                        <p class="product-price">$ 133.00</p>
                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="assets/img/shop.png" alt="product image">
                        </div>

                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">ملابس</h2>
                            <div class="rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "far fa-star"></i></span>
                            </div>
                        </div>
                        <a href="#" class="product-name">قشابية</a>
                        <p class="product-price">$ 150.00</p>
                        <p class="product-price">$ 133.00</p>
                    </div>

                    <div class="off-info">
                        <h2 class="sm-title">25% off</h2>
                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="assets/img/shop.png" alt="product image">
                        </div>

                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">أكلات</h2>
                            <div class="rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "far fa-star"></i></span>
                            </div>
                        </div>
                        <a href="#" class="product-name">كسكس</a>
                        <p class="product-price">$ 150.00</p>
                        <p class="product-price">$ 133.00</p>
                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="assets/img/shop.png" alt="product image">
                        </div>

                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">حلويات</h2>
                            <div class="rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "far fa-star"></i></span>
                            </div>
                        </div>
                        <a href="#" class="product-name">مقروظ</a>
                        <p class="product-price">$ 150.00</p>
                        <p class="product-price">$ 133.00</p>
                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="assets/img/shop.png" alt="product image">
                        </div>

                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">نحاس</h2>
                            <div class="rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "far fa-star"></i></span>
                            </div>
                        </div>
                        <a href="#" class="product-name">إناء</a>
                        <p class="product-price">$ 150.00</p>
                        <p class="product-price">$ 133.00</p>
                    </div>
                </div>
                <!-- end of single product -->
                <!-- single product -->
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="assets/img/shop.png" alt="product image">
                        </div>

                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h2 class="sm-title">فخار</h2>
                            <div class="rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "far fa-star"></i></span>
                            </div>
                        </div>
                        <a href="#" class="product-name">كأس</a>
                        <p class="product-price">$ 150.00</p>
                        <p class="product-price">$ 133.00</p>
                    </div>

                    <div class="off-info">
                        <h2 class="sm-title">35% off</h2>
                    </div>
                </div>
                <!-- end of single product -->
            </div>
        </div>
    </div>

    <div class="product-collection">
        <div class="container">
            <div class="product-collection-wrapper">
                <!-- product col left -->
                <div class="product-col-left flex">
                    <div class="product-col-content">
                        <h2 class="sm-title">ملابس نسائية</h2>
                        <h2 class="md-title">مجموعة النساء</h2>
                        <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae consequatur facilis eligendi quibusdam voluptatibus exercitationem autem voluptatum, beatae architecto odit, quisquam repellat. Deleniti, architecto ab.</p>
                    </div>
                </div>

                <!-- product col right -->
                <div class="product-col-right">
                    <div class="product-col-r-top flex">
                        <div class="product-col-content">
                            <h2 class="sm-title">ملابس رجالية</h2>
                            <h2 class="md-title">مجوعة الرجال</h2>
                            <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae consequatur facilis eligendi quibusdam voluptatibus exercitationem autem voluptatum, beatae architecto odit, quisquam repellat. Deleniti, architecto ab.</p>
                        </div>
                    </div>

                    <div class="product-col-r-bottom">
                        <!-- left -->
                        <div class="flex">
                            <div class="product-col-content">
                                <h2 class="sm-title">summer sale </h2>
                                <h2 class="md-title">Extra 50% Off </h2>
                                <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae consequatur facilis eligendi quibusdam voluptatibus exercitationem autem voluptatum, beatae architecto odit, quisquam repellat. Deleniti, architecto ab.</p>
                            </div>
                        </div>
                        <!-- right -->
                        <div class="flex">
                            <div class="product-col-content">
                                <h2 class="sm-title">shoes </h2>
                                <h2 class="md-title">best sellers </h2>
                                <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae consequatur facilis eligendi quibusdam voluptatibus exercitationem autem voluptatum, beatae architecto odit, quisquam repellat. Deleniti, architecto ab.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>